// debug
.boot-debug {
    // display: none;
    display: block;
    padding: 4px 8px;
    background-color: darken(red, 15%);
    color: white;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 500;
    font-size: 16px;
    letter-spacing: 1px;
    &:after {
        content: "xs";
        // Breakpoints
        // custom breakpoint  - mobile landscape
        @media (min-width: 480px) {
	        content: "xs - landscape";
        }
        // sm - Small devices (tablets, 768px and up)
        @media (min-width: 768px) {
            content: "sm tablet 768+";
        }
        // md - Medium devices (desktops, 992px and up)
        @media (min-width: 992px) {
            content: "md 992+";
        }
        // lg - Large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            content: "lg 1200+";
        }
    }
}

// Hide the toolbar or admin menu on small screens.
@media (max-width: 767px) {
    #toolbar,
    #admin-menu {
        display: none !important;
    }
}

// override
// admin-menu + toolbar
#toolbar {
    z-index: 1040;
    box-shadow: none;
    .toolbar-drawer {
        .toolbar-shortcuts {
            ul.menu {
                margin: 0;
                padding: 0;
                min-height: 34px;
                li a {
                    padding: 5px;
                }
            }
        }
    }
}

body.admin-menu {
    margin-top: 0 !important;
    #admin-menu,
    #admin-menu .dropdown {
        z-index: 1050!important;
    }
}

// body padding-top
// par defaut, en anonyme
// voir ../components/regions/_a_header.scss
body.navbar-is-fixed-top {
    padding-top: 56px !important;
    @media (min-width: 768px) {
        padding-top: 76px !important;
    }
}

// connecté avec toolbar 76px + 30px
@media (min-width: 768px) {
    body.toolbar.navbar-is-fixed-top {
        padding-top: 106px !important;
        .navbar-fixed-top {
            top: 30px !important;
        }
    }
}

// connecté avec toolbar + barre des racourcis déroulée 76px + 30px + 34px
@media (min-width: 768px) {
    body.toolbar.navbar-is-fixed-top.toolbar-drawer {
        padding-top: 140px !important;
        .navbar-fixed-top {
            top: 64px !important;
        }
    }
}


// ################################################################
// message
.l-message {
	padding-top: 15px;
	padding-bottom: 15px;
	.alert {
		margin: 0;
	}
}

// tabs
.tabs--primary {
	margin-bottom: 30px;
}

//
#block-system-main {
	padding-bottom: 30px;
}

// mixin no-lh
.no-lh {
	@extend %no-lh;
}

// clearboth
.clearboth {
	clear: both;
}