
// police spéciale
// ../templates/system/html.vars.php

// http://www.google.com/fonts/specimen/Varela+Round
$varela: 'Varela Round', sans-serif;
// http://www.google.com/fonts/specimen/Signika
$signika: 'Signika', sans-serif;


// couleur openradiation

// body
$bleu-body: #dff3fb;
// footer
$bleu_footer: #d4f1ff;


// Home - mauve dans le sidebar
$mauve: #6a4e9f;

$title-color: rgb(19, 72, 163);
$bg-gray: #eee;
$bg-mauve: #9483B7;

/*
$colors_le_projet: #009FD8;
$colors_carte_des_mesures: #0059B0;
$colors_tout_savoir: #243297;
$colors_la_communaute: #703B99;
$colors_les_missions: #59238F;
*/