/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 avr. 2015, 16:51:04
    Author     : nicolasminelle
*/

.admin-menu-search {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    border-radius: 0;
    
} 

#block-masquerade-masquerade {
    margin-top: 25px;
    margin-bottom: 25px;
}

#block-masquerade-masquerade .container {
    width: 100%;
}

#block-masquerade-masquerade .col-md-12 {
    padding-left: 35px;
    padding-right: 35px;
}

.form-item-masquerade-user-field {
    display: inline-block !important;
    vertical-align: middle !important;
    margin: 0 !important;
}

.form-item-masquerade-user-field .input-group,
.form-item-masquerade-user-field .input-group-addon {
    display: inline-block !important;
}

#edit-masquerade-user-field {
    display: inline-block !important;
}
#block-masquerade-masquerade .btn {
    height: 34px;
}



fieldset legend.panel-heading {
  float: left;
  line-height: 1em;
  margin: 0 0 15px 0;
}
