/**
 * Helper class to remove gutter between columns if needed.
 * @see https://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-still-might-not-know
 * example usage
 * @code
 *  <div class="row no-gutter">
 *     <div class="col-md-4">
 *         ...
 *     </div>
 *     <div class="col-md-4">
 *         ...
 *     </div>
 *     <div class="col-md-4">
 *         ...
 *     </div>
 * </div>
 * @encode
 */
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

body {
  background-color: $bleu_body;
  font-family: $signika;
  font-weight: 300;
}

.main-container {
  background-color: white;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $varela;
  font-weight: 400;
  color: $title-color;
}

h1, h2, h3 {
  text-transform : uppercase;
  font-size: 28px;
  font-weight: bold;
}


#section-main {
  min-height: 300px;
  padding-right: 0;
  @media (min-width: $screen-md) {
    padding: 20px 45px;
  }
}

#section-right {
  padding-right: 45px;
  padding-left: 0;
}

#section-main .container {
  width: 100%;
}

.vertical-divider {
  height: 40px;
  margin: 0 9px;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #ffffff;
}

/* MAP HOMEPAGE */

#openradiation-map-iframe {
  @media (max-width: $screen-md) {
    width: 90% !important;
  }
}

.front .alert-block {
    margin: 0;
    border-radius: 0;
}


.confirmation .btn, .form-actions .btn {
    margin-right: 5px;
}

/**************/
/** MISSIONS **/
/**************/

/* masquer option blogs */
.form-item-field-mission-active-tabs-und-blog {
    display: none;
}

/*- tabs -*/
.bluestone_og_tabs {
  margin: 20px 45px 15px;
}

.nav.bluestone_og_tabs > li > a {
  padding: 5px 0;
}

.nav.bluestone_og_tabs > li.active > a {
  font-weight: bold;
}

.nav.bluestone_og_tabs > li.active:after {
  border-right: 15px solid transparent;
  border-top: 15px solid rgb(89,35,143);
  border-left: 15px solid transparent;
  content: '';
  display: table;
  margin: 0 auto;
}

/*- node -*/

.node-type-mission #section-main,
.node-type-mission #section-main .region-content {
  margin-top: 0;
  padding-top: 0;
}

.mission-objectifs {
  font-size: 23px;
  line-height: 1.2em;
  color: $title-color;
}

.mission-stats {
  background-color: $bg-gray;
  margin: 30px 0;
}

.mission-stats .animator {
  background-color: $bg-mauve;
  color: #fff;
  padding: 10px 0;
  line-height: 22px;
}

.mission-stats .stats {
  padding: 20px 0 0;
}

.mission-stats .field-label {
  font-size: 16px;
  font-weight: lighter;
}

.mission-stats .field-items {
  font-size: 22px;
  text-transform : uppercase;
}

.mission-stats progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $title-color;
  background-color: $bg-mauve;
  border: none;
  height: 1.2em;
}

.mission-stats progress > div {
  background-color: $title-color;
}

progress::-webkit-progress-bar {
  background: $bg-mauve;
}
progress::-moz-progress-bar {
  background-color: $title-color;
}
progress::progress-value {
  background: $title-color;
}
progress::-webkit-progress-value {
  background: $title-color;
}


/*- blocks -*/
#block-views-mission-news-block,
#block-views-mission-members-block-user-list,
#block-bluestone-userpoints-top-month-contributors,
#block-bluestone-userpoints-top-contributors,
#block-bluestone-mission-top-active-missions,
#block-bluestone-mission-adminblock-bluestone-mission-adminblock
{
  background-color: $bg-gray;
  padding: 5px;
  margin-top: 20px;

  h2 {
    padding-bottom: 20px;

  }
}

#block-bluestone-userpoints-top-month-contributors,
#block-bluestone-userpoints-top-contributors {
  .user-picture {
    display: inline-block;
    text-align: center;
  }
}

.mission_image_block-mission_image_block {
  margin: 20px 0 20px;
}

.mission_image_block-mission_image_block img {
  margin-bottom: 10px;
}

.mission_activities-block .container-fluid,
.mission_activities-block .container-fluid .col-md-12,
.view-og-content-list .container-fluid,
.view-og-content-list .container-fluid .col-md-12 {
  padding: 0;
  margin: 0;
}


.mission-user-element {
  display: inline-block;
  min-width: 25%;
  text-align: center;
}

.mission-user-element img {
  margin: auto;
}

.mission-right-block {
    background-color: #eee;
    padding: 5px;
    margin-top: 20px;
    h2 {
        text-align: center;
        font-size: 22px;
        padding: 5px;
        margin: 0;
        color: #777;
    }
}

.node-type-mission .region-sidebar-second {
    padding-bottom: 25px;
}

div.panel-panel.left {
    padding-left: 0;
    padding-right: 30px;
}

div.panel-panel.right {
    padding-right: 0;
}

h2.block-title {
  text-align: center;
  font-size: 22px;
  padding: 5px;
  margin: 0;
  color: #777;
}

.mission-teaser-summary {
  font-size: 16px;
}

.mission_activities-block h3 {
  margin: 0;
}

.mission_activities-block .views-row {
  margin-bottom: 20px;
}

/** UTILISATEURS **/
.img-circle .user-picture img {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
  width: 40px;
  height: 40px;
}

.mission-user-name {
  text-transform : uppercase;
  font-size: 10px;
  color: #aaa;
}

/*******************/
/** Nodes        **/
/*****************/

#section-main {
  font-size: 17px;
}

.field-name-field-chapo {
  color: #009FD1;
  font-size: 24px;
}

.content-teaser .field-name-field-chapo {
  color: #000;
  font-size: 17px;
}

.field-name-field-full-image {
  margin: 0 -180px;
  padding: 0 180px;
  background-color: #F6F6F6;
}

.field-name-body {
  font-size: 17px;
}

.breadcrumb {
  font-size: 12px;
}

.submitted  .user-picture {
	display: inline-block;
}

.submitted   {
	font-size: 0.8em;
	font-style: normal;
}

.submitted .user-picture img,
.node-og-wiki .user-picture img, {
	width: 20px;
	height: 20px;
	border-radius: 3px;
}
.node-og-wiki .user-picture {
	display: inline-block;
}
.node-og-wiki .submitted {
	display: inline-block;
}

.node-og-wiki .content {
	padding: 20px;
}

/*****************************************/
/** LANGUAGE SWITCH BLOCK              **/
/***************************************/

.language-switcher-locale-url {

  // language switcher variables
  $li_padding : 3;
  $li_size: 25 + $li_padding + px;


  position: absolute;
  z-index: 999;
  right: -$li_size;
  list-style-type: none;


  a:hover {
    text-decoration: none;
  }

  li {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding: $li_padding + px;

  }

  li.active {
    background: darken($bleu-body, 25);
    width: $li_size;

    a {

      color: white;
    }
  }


  @media (max-width: $screen-sm) {
    //width: 100% !important;
    position:relative;
    padding:0;
    right: auto;
    margin:0;

    li, li.active {
      width: 100%;
    }

  }



}


/*****************************************/
/** LOGIN BLOCK FORM IN SECOND SIDEBAR **/
/***************************************/

#social_absolute {

  position: absolute;
  z-index: 999;
  right : -50px;
  top: 80px;
  width: 45px;

}


/*****************************************/
/** LOGIN BLOCK FORM IN SECOND SIDEBAR **/
/***************************************/

.region-sidebar-second {

  .login-right {

    padding: 15px 0px;

    .container {
      width: 100% !important;
    }

    #user-login-form {

      input {
        width: 100%;
        background-color: rgb(240,240,240);
        border: none;
        border-radius:0;
      }

      label[for="edit-name"] {
        display: none;
      }

      label[for="edit-pass"] {
        display: none;
      }
    }

  }

}


/***********/
/** ICONS **/
/***********/

.view-mission-activities [class^="icon-"], .view-gt-activite [class*=" icon-"] {
  float: left;
  font-size: 50px;
  color: $title-color;
  margin-right: 20px;
}


/*******************************/
/** FOOTER && FOOTER CONTACT **/
/******************************/

.footer{

  padding-bottom: 40px;
  position:relative;
  top: -6px;

  .footer-inner > .row {

    margin-bottom: 50px;

    & > .col-md-8 {
      background-color: #CDF2FF;
    }

    & > .col-md-4 {
      background-color: #95D9F2;
    }


  }

  // MENU LINKS
  #bluestone_footer_menu{

    padding-top: 20px;


    .footer_parent_link {
      font-family: $varela;
      display: inline-block;
      padding-top: 10px;
      padding-bottom: 8px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .bluestone_footer_sublinks {

      li {
        font-size: 12px;
        line-height: 12px;
        padding-bottom: 10px;
      }

      a {
        color : black;
        text-transform: uppercase;
      }
    }

  }

  // CONTACT
  #bluestone_footer_contact {

    padding-bottom: 50px;

    h3 {
      color: black;
      font-size: 24px;  
    }


    .adresse {

      padding-top: 20px;
      padding-left: 20px;


    }

    .social {
      padding-top: 20px;
    }

  }


}

#block-masquerade-masquerade {
  margin-left: 30px;
}

/*******************************/
/** TOP MENU                 **/
/*****************************/

// map colors for menu blocks
$bluestone_main_menu_color_map: (
 0: #009FD8,
 1: #0059B0,
 2: #243297,
 3: #703B99,
 4: #59238F
);

// set colors background for each menu-block
@for $i from 0 through 4 {

  .bluestone-menu-block-#{$i} {

    $color: map-get($bluestone_main_menu_color_map, $i);
    background-color: $color;

    .bluestone_sublinks {
      background-color: $color;
    }
  }

}

//  For mobile menu version
nav .mobile-navigation {

  .logo img {
    position:relative;
    height:40px;

  }

  .navbar-header {
    background-color: white !important;
  }

  .navbar-default {
    background-color:white !important;
  }

  .navbar-default .navbar-toggle {
    border:none;
  }

  .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .navbar-collapse {
    border-color:none;
    border-top: none;
  }

  .navbar{
    border-color: transparent;
    margin-bottom: 0px;
    border: none;
  }

  .navbar-default .navbar-nav li  a {
    color:white !important;
  }

  @for $i from 0 through 4 {

    .bluestone-menu-block-#{$i} {

      $color: map-get($bluestone_main_menu_color_map, $i);

      a,
      a:hover,
      a:focus {
        background-color: $color !important;
      }

      .bluestone_sublinks {
        background-color: $color;
      }

    }

  }

}

#bluestone_main_menu .bluestone_menu_column{
  padding: 0;
}

#bluestone_main_menu{
  margin: 0;
}

.parent_link{
  font-family: $varela;
  display: block;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  height: 73px;
  padding-top: 25px;
  color: #ffffff;
  text-transform: uppercase;
}

.bluestone_sublinks{
  padding: 10px;
  position: absolute;
  width: 100%;
  opacity: 0.9;
  z-index: 1000;
}

.bluestone_sublinks a{
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
}

#bluestone_main_menu .logo {
  background: white;
}

img.logo {
  // height: 100%;
}

#navbar {
  background-color: transparent;
  margin-bottom: 0;
}

/*******************************/
/** FORUMS                    **/
/******************************/

ul.action-links {
  list-style-type: none;
}

.forum-post ul.links.list-inline {
    margin: 0;

}

div.forum-post {
    margin: 0 0 15px 0;
}

.forum-post .author-pane {
    width: 100px;
}

.forum-post .user-picture {
    width: 50px;
}

.forum-topic-header .btn {
    margin-top: -5px;
    margin-right: 10px;
}

th.views-field img {
    display: inline-block;
}

/*******************************/
/** Comments                  **/
/******************************/

// youtube style comments, only indent the first level of children comments.

.indented {

  padding-left : 80px;

  .indented {
    padding-left: 0;
  }


}

.comment-picture {
    width: 60px;
    padding-right: 0 !important;
}


/*******************************/
/** Documents                 **/
/******************************/

.node-og-document .content {
    padding-top: 30px;
    padding-bottom: 30px;
}


#edit-group-content-access,
#edit-og-group-ref {
    display: none;
}

/*******************************/
/** Mesures                   **/
/******************************/


body.node-type-measurement  {

  #section-main {
    // background: #E9F1FA;
  }

  .node-measurement-full {

    .measurement-datas,
    .comment-form,
    .measurement-comments-form {
      background-color: #E9F1FA;
      padding: 20px;
    }

    .field-name-field-calculated-qualification{
      color:#ffffff;
      display: inline-block;
      padding: 8px;
    }

    .title{
      //color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      //background-color: #0059B0;
      // text-align: center;
      font-size: 25px;
      padding:10px;
    }

    .username{
      color: #000000;
      font-weight: bold;
      text-transform: uppercase;
    }

    .field-name-field-loc-height{
      display: inline-block;
    }

    .field-name-field-mon-apparatustypedesc{
      display: inline-block;
    }

    .field-name-field-mon-starttime{
      display: inline-block;
    }

    .details .blabel{
      color: #1348a3;
      font-size: 14px;
      font-weight:normal;
      text-transform: uppercase;
    }

    .atypical{
      color: #FF0000;
      font-size: 17px;
      font-weight:bold;
      text-transform: uppercase;
    }


    #subscriptions-ui-node-form .panel{box-shadow: none ;}

    #subscriptions-ui-node-form legend {
      margin-bottom: 0;
      background-color: #1348a3;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .flag-outer-subscribe-node a.flag {
      color: #ffffff;
      text-align: center;
      display: block;
      margin-bottom: 0;
      background-color: #5294c1;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      padding:5px;
    }

    .flag-outer-subscribe-node a.flag:hover{
      text-decoration: none;
    }

    #subscriptions-ui-node-form fieldset{margin-bottom: 0;}

    #edit-field-measure-qualification-und{
      width: 200px;
      margin: auto;
    }

    div.form-item-field-measure-qualification-und{
      text-align: center;

    }

    div.form-item-field-measure-qualification-und .control-label{
      color: #1348a3;
      display: block;
      text-transform: uppercase;
      font-size: 25px;
      font-family: 'Varela Round', sans-serif;
    }

    div.form-type-textarea.form-item-comment-body-und-0-value.form-item.form-group label.control-label span.form-required{
      display: none;
    }

    #comment-form #edit-actions{
      text-align: right;
    }

    #edit-actions--2 {
      text-align: right;
      button {
        text-transform: uppercase;
        background-color: #EEE;
        color: #555;
      }
    }

  }

  .node-measurement-comments{
    //background-color: #ffffff;
    //padding: 40px 80px 40px 80px;
  }

  .node-measurement-comments {
    //background-color: #E9F1FA;
  }

  .measurement-datas {

    .map {

      .map-inner-wrapper {

        .field-name-field-value {
          background-color: rgb(19, 73, 154);
          color:white;
          width: 100%;
          font-size:30px;
          z-index: 2;
          text-align: center;
          height:40px;
        }

        .geolocation-map{
          margin:0;
        }

      }


      /*
      .map-wrapper {

        position:relative;
        height:315px;
        width:300px;

        // display value of the measurement
        .field-name-field-value {
          position:absolute;
          top:0;
          left:0;
          background-color: rgb(19, 73, 154);
          color:white;
          display: block;
          width: 100%;
          font-size:30px;
          z-index: 2;
          text-align: center;
          height:40px;
        }

        .field-name-field-value::after {
          content:"";
          width: 0;
          height: 0;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 20px solid rgb(19, 73, 154);
          position: relative;
          top:15px;
        }

        // display google map
        .field-name-field-geolocalisation {
          position: absolute;
          top:0;
          left:0;
          z-index: 1;
          padding-top:28px;
        }

      }
      */

    }

    .info {
      padding-top:60px;


      .field-name-field-calculated-qualification {
        position: relative;
        right: 0;
        width: 100%;
        height: 40px;
        text-align: center;
      }
    }
    
    li div {
        display: inline-block;
    }
    
    .description {
        font-style: italic;
    }
    

  }

  .comment-form {
    padding-top:20px;

    textarea {
      border:none;
      resize: none;
    }

    .grippie {
      display:none;
    }

  }

}


.field-name-field-measure-qualification {

  label {

  }

  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border-radius: 0;
    border: none;
    color:black;
    width: 330px;
    @media (max-width: $screen-xs) {
      width : 200px;
    }
    display: inline-block;

    option {
      text-align: center;
    }

    option[value="2"] {
      background-color:#FFAD46;
    }

    option[value="4"] {
      background-color:#16A765;;
    }

    &::after {
      content: "";
    }
  }

}

.rate-widget-bluestone_thumbs_up_down {

  .thumb-up {
    color: green;
  }

  .thumb-down {
    color: red;
  }

  .points {
    position: relative;
    top:4px;
  }

  .points::before {
    content:"(";
  }

  .points::after {
    content:")";
  }

  .rate-info {
    display: none;
  }

}

.measurement-tag {
    color: #1a718b;
    font-size: 90%;
    background: #ddd6d6;
    border-radius: 6px;
    padding: 3px 6px;
    margin: 2px;
    line-height: 2;
}

.field-name-field-creator-name {
    padding-top: 5px;
}

/* champ valeur */
.form-item-field-value-und-0-value {
    label {
        display: block;
    }
    input {
        width: 160px;
        display: inline-block;
    }
}
/* champ température */
.field-name-field-temperature {
    label {
        display: block;
    }
    input {
        width: 95%;
        display: inline-block;
    }
}
/* geoloc */
.field-name-field-geolocalisation {
    label {
        display: block;
    }
    .form-item-field-geolocalisation-und-0-address-field {
        float: none;
        width: 80%;
        display: inline-block
    }
}

/**
 * ARTICLES NAVIGATION (PREVIOUS / NEXT )
 */

#title_nav {

  position : relative;

  h1 {
    z-index: 0;
  }

  .arrow {
    font-size: 30px;

  }

  .js-to-article {
    border-radius: 0;
    z-index: 10;
    position: absolute;
    bottom: 0;

  }

  .js-to-article.next_article {
    right: 0;
  }

  .js-to-article.prev_article {
    left: 0;
  }

  .js-title {
    position:relative;
    top: -5px;
    text-transform: uppercase;
    font-size: 15px;

  }

}

/*
$colors[640]="#009FD8";
$colors[620]="#0059B0";
$colors[625]="#243297";
$colors[631]="#703B99";
$colors[636]="#59238F";
*/

#title_nav.section-640 .js-to-article{
  background: lighten(#009FD8, 30);
}

#title_nav.section-620 .js-to-article{
  background: lighten(#0059B0, 30);
}

#title_nav.section-625 .js-to-article{
  background: lighten(#243297, 30);
}

#title_nav.section-631 .js-to-article{
  background: lighten(#703B99, 30);
}

#title_nav.section-636 .js-to-article{
  background: lighten(#59238F, 30);
}


#title_nav {
  background-color: #59248E;
  min-height: 100px;
  text-align: center;
  vertical-align: middle;
}

.title_nav_block {
  line-height: 100px;
  min-height: 100px;
  @media (max-width: $screen-xs) {
    padding-bottom: 40px;

  }

}

#title_nav h1 {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

#title_nav a.prev_article,#title_nav a.next_article {
  color: #ffffff;
  font-size: 25px;

}

#block-system-main {

  @media (min-width: $screen-md) {
    article {
      padding: 0px 120px;
    }
  }

}

/**
 * FORUM
 */

#forum {

  // hide some features from advanced forum for now.
  .well, #advanced-forum-forum-topic-list-sort-form, #ctools-jump-menu {
    display:none;
  }

}

#block-masquerade-masquerade {
  margin-left: 30px;
}


/**************************/
/* Comments               */
/**************************/

#comments .user-picture img,
.node-discussion .user-picture img,
.pane-node-comments .user-picture img {
	width: 60px;
	height: 60px;
}

.comment-box {
	position: relative;
	background: #fff;
	border: 4px solid #ebebeb;
	margin-left: 80px;
	border-radius: 10px;
	padding: 12px;
}
.comment-box:after, .comment-box:before {
	right: 100%;
	top: 25px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.comment-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #fff;
	border-width: 10px;
	margin-top: -10px;
}
.comment-box:before {
	border-color: rgba(20, 20, 20, 0);
	border-right-color: #ebebeb;
	border-width: 16px;
	margin-top: -16px;
}

.first.comment-box {
	background: #ebebeb;
}
.first.comment-box:after {
	border-color: rgba(20, 20, 20, 0);
	border-right-color: #ebebeb;
}

h2 .badge {
	vertical-align: middle;
}

#comments .content {
	padding: 0;
}

#user-infos {
  float: right;
  background-color: white;
  color: lightblue;
  padding : 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  min-width: 150px;
}

/**************************/
/* Profile                */
/**************************/

.label-warning {
    display: inline !important;
}
.form-item-pass-pass1 label div {
    display: inline-block !important;
}

.form-item-pass-pass1.has-warning,
.form-item-pass-pass2.has-warning {
    padding-right: 30px;
}

.profile .userpoints {
    color: #ccc;
    font-size:1.5em;
}

.picture-col {
    text-align:center;
    
    img {
        display: inline-block;
    }
}


/**************************/
/* Mision                 */
/**************************/

.view-mission-activities .node-teaser h3 {
    font-size: 1.1em;
    display: inline-block;
    vertical-align: bottom;
}

.view-mission-activities [class^="icon-"], .view-mission-activities [class*=" icon-"] {
    font-size: 35px;
}


/******************************/
/** Books                    **/
/******************************/

#block-book-navigation {
    margin: 0 130px;
    padding: 5px;
    background-color: #eee;
    
    a {
        padding: 2px;
    }
    a.active {
        color: #000;
        /* font-weight: bold; */
    }
    
    li {
        margin: 0 0 0 10px;
    }
}

.book-toc {
    display: none;
}

/******************************/
/** Cookies                  **/
/******************************/

.cookie-compliance {
  padding: 0;
  margin: 0;
  background-color: transparent;
}
 
.cookie-compliance__inner {
  background-color: #502b76; 
  width: 1170px;
  margin: auto;
  /* 1170  970  750 */
}

/* custom breakpoint  - mobile landscape */
@media (min-width: 480px) {
  .cookie-compliance__inner {
    width: 1170px;
  }
}
/* sm - Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .cookie-compliance__inner {
    width: 750px;
  }
}
/* md - Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cookie-compliance__inner {
    width: 970px;
  }
}
/* lg - Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .cookie-compliance__inner {
    width: 1170px;
  }
}
 
.cookie-compliance__text {
  color: #fff;  
}
 
.cookie-compliance__button {
  background-color: #fff;  
  border-color: #3e215a;
  color: #502b76;  
}